################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user

/.vs
/bin
/obj
/packages
/TestResults

/BrightWire/bin
/BrightWire/obj
/BrightWire.Tests/bin
/BrightWire.Tests/obj
